<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
</head>
<body>
<button><a href="/reservation/new">예약 생성</a></button>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie) {
            var array = document.cookie.split((escape(name) + '='));
            if (array.length >= 2) {
                var arraySub = array[1].split(';');
                cookieValue = unescape(arraySub[0]);
            }
        }
        return cookieValue;
    }
</script>
<script>
    $.ajax({
        url: "/reservation/" + getCookie("reservationDate"),
        type: 'GET',
        dateType: 'json',
        contentType: 'application/json',
        success: function (json) {
            let container = document.createElement("ul");
            $.each(json, function (k, v) {
                let data = document.createElement("li");
                data.innerHTML = dataFormat(json[k]);
                let deleteBtn = document.createElement("button");
                deleteBtn.innerHTML = "delete";
                deleteBtn.addEventListener('click', function () {
                    $.ajax({
                        url: "/reservation/" + json[k].reservationId,
                        type: 'DELETE',
                        contentType: 'application/json',
                        success: function () {
                            alert("삭제되었습니다.");
                            document.location.reload();
                        }
                    });
                })
                data.append(deleteBtn);

                container.append(data);
                document.body.appendChild(container);
            });
        }
    });
</script>
<script>
    function dataFormat(json) {
        let output = "";
        let date = json.startTime.split("T").at(0)
        let startTime = json.startTime.split("T").at(1)
        let endTime = json.endTime.split("T").at(1)

        output += json.userName + ": ";
        output += date + " <b>";
        output += startTime + " - ";
        output += endTime + "</b>";

        return output;
    }
</script>
</body>
</html>